/* Global styles */
::selection {
    background-color: #78c2ad60;
    color: #fdebf3;
}

html {
    background-color: #1e1e2e;
    color: #fdebf3;
}

body {
    max-width: 448px;
    margin: 0 auto;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
    margin: 0;
}

h2 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 1.8em;
    margin-bottom: 0;
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.95em;
    hyphens: auto;
    line-height: 1.5;
    text-indent: 1em;
}


/* Gifs */
.gif {
    margin: 10px 0 0 0;
    text-align: center;
}

/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
}

.title-link, .nav-links {
    font-family: 'Pacifico', cursive;
    font-size: 1.1rem;
}

.title-link a, .nav-links a {
    color: #fdebf3;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.95rem;
    text-align: right;
}

.nav-links a {
    margin: 0 10px;
}

/* Footer */
.foot-btn {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fdebf3;
}

.foot-btn:hover {
    border-color: #78c2ad;
}

.light .foot-btn {
    border: 2px solid #1e1e2e;
}

.git-icon {
    content: url("/github-mark-white.svg");
}

.so-icon {
    content: url("/stackoverflow-white.svg");
}

.mail-icon {
    content: url("/mail-white.svg");
}

.linked-in {
    content: url("/li-in-white.png");
}

.medium-icon {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fdebf3' d='M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zm7.42 0c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42c1.87 0 3.38 2.88 3.38 6.42zM24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z'/%3E%3C/svg%3E");
}

/* Card listing */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1.5rem 1.5rem;
    padding: 0;
    margin: 1rem 0 2rem 0;
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .title-link a {
    color: #1e1e2e;
}

.light .card-title {
    color: #1e1e2e; 
}

.light .card-txt {
    color: #1e1e2e; 
}

.light .nav-links a {
    color: #1e1e2e;
}

.light .link-card > a {
    color: #1e1e2e; 
}

.light .button {
    color: #1e1e2e;
}

.light .button:hover {
    color: #fdebf3;
}

.light .foot-btn:hover {
	border-color: #78c2ad;
}

.light .git-icon {
    content: url("/github-mark.svg");
}

.light .so-icon {
    content: url("/stackoverflow.svg");
}

.light .mail-icon {
    content: url("/mail.svg");
}

.light .linked-in {
    content: url("/li-in.png");
}

.light .medium-icon {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%231e1e2e' d='M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zm7.42 0c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42c1.87 0 3.38 2.88 3.38 6.42zM24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z'/%3E%3C/svg%3E");
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .nav-bar {
        display: initial;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links a {
        margin: 0 11px;
    }
}
