---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
}

const { url, image, title, body } = Astro.props;
---
<li class="link-card">
    <a href={url}>
        <div class="img">
            <img src={image} class="card-img" alt="ProjectImage">
        </div>
	<h3 class="card-title">
	    {title}
	</h3>
	<p class="card-txt">
	    {body}
        </p>
    </a>
</li>
<style>
    .link-card {
        list-style: none;
        display: flex;
        background-size: 400%;
        padding: 0 10px;
    }

    .link-card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 8px;
        color: #fdebf3;
    }

    .img {
        text-align: center;
        width: 94px;
        height: 60px;
        margin: 0 auto 0.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    img {
        max-width: 94px;
        max-height: 60px;
        width: auto;
        height: auto;
        display: block;
        flex-shrink: 0;
        border-radius: 8px;
        object-fit: contain;
        image-rendering: auto;
    }

    h3 {
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
    }

    p {
        font-size: 0.75em;
        line-height: 1.5;
        text-indent: 0;
        text-align: center;
        margin: 0.1rem 0;
    }

    .link-card:hover {
        transform: scale(1.05);
    }
</style>
